.body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.4;
}

.resume-container {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 120px;
    margin-right: 20px;
    
}

header .header-info h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#special-skills ul {
    list-style-type: disc;
    padding-left: 20px;
}

.education-entry {
    margin-bottom: 10px;
}

.experience-entry {
    margin-bottom: 10px;
}
